
.head{
	background-image: url(../img/index/header-bg.jpg);
    background-repeat: no-repeat;
	height:600px;
	background-size: 100%;
}
.head_header{
    width:100%;
}
/* menu */
.navbar{
    background-color: rgba(255,255,255,0.4);
}
.default-logo {
    font-family: "Playball",cursive;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 40px;
}

.default-menu.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 40px !important;
    font-family: "Raleway",sans-serif;
    letter-spacing: 0.3px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.default-menu.navbar-default .navbar-nav > li > a:hover{
    color:green;
}
.default-menu.navbar-default .navbar-nav > .active > a, 
.default-menu.navbar-default .navbar-nav > .active > a:focus, 
.default-menu.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #8FC93F;
}

.default-menu.menu{
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.default-menu.menu .default-logo{
    color: #ccc;
}

.default-menu.menu .navbar-nav > li > a{
    color: #ccc;
}

.default-menu.menu .navbar-nav > li > a:before,
.default-menu.menu .navbar-nav > li > a:after{
    color: transparent;
    font-size: 13px;
    position: absolute;
    transition: all 0.5s ease-in-out; 
    margin-top: -1px;
}

.default-menu.menu .navbar-nav > li > a:before{
    content: '[';
    left: -10px;
}

.default-menu.menu .navbar-nav > li > a:after{
    content: ']';
    right: -10px;
}

.default-menu.menu .navbar-nav > li > a:hover:after,
.default-menu.menu .navbar-nav > li > a:hover:before{
    color: #8FC93F; 
}

.default-menu.menu .navbar-nav > li > a:hover:before{
    left: 8px;
}

.default-menu.menu .navbar-nav > li > a:hover:after{
    right: 8px;
}

.default-menu.navbar-default .navbar-nav > li:last-child > a:after,
.default-menu.navbar-default .navbar-nav > li:last-child > a:before{
    content: '';
}
.head_content{
    width:100%;
    min-height: 300px;
}
.announce{
  width:400px;
  height:300px;
  margin:100px;
  margin-left: auto;
  margin-right: auto;
}
.item{
    text-align: center;
}
.item h4{
    color:white;
    font-family: "微软雅黑";
    font-size: 30px;
    font-weight: bold;
}
.item p{
    height:150px; 
    width:300px;
    margin:0 50px 0 50px;
    color:white;
    font-size: 15px;
}
.carousel-indicators{
    color:lightgreen;
}
#change_announce{
    margin:50px auto;
    width:600px;
    height:600px;
}
.modal-header{
    min-height: 50px;
}
.modal-body{
    min-height: 300px;
}
.input-group-title{
    margin:20px auto;
    width:400px;
}
.input-group-body{
    width:400px;
    margin:0 auto;
}
.input-group-body textarea{
    height:100px;
    resize: none;
}
#start_modal{
    padding:0 50px 0;
}
#activity_title{
    width:400px;
}
.time{
    display:block;
    margin-top: 15px;
    margin-left: 50px;
}
#activity_content{
    resize:none;
    width:400px;
}

/*===== content部分 ====*/
.content{
    padding-bottom: 55px;
    padding-top: 80px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 45px;
}
.small-tag {
    color: green;
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
h2.section-title{
    text-transform: uppercase;
    color: #8FC93F;
    margin-bottom: 30px;
    word-spacing: 5px; 
    font-size: 30px;
    font-weight: 700;
    font-family: "微软雅黑";  
}
.section-para{
    color: #999;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.eventlist{
    width:800px;
    height:180px;
    margin:0 auto;
    background-color: rgba(153,153,153,0.1);
    transition:background-color 1.5s;
    transition:color 1.5s background-color 1.5s;
    margin-top: 20px;
    color:#999;
    padding:10px;
}
.eventlist:hover{
    background-color: #8FC93F;
    color:white;
}
.eventlist h3{
    font-family: "华文细黑";
    font-size: 20px;
    margin-top: 14px;
}

.eventlist a{
    text-align: center;
    display:block;
    float:right;
    line-height: 40px;
    margin-right: 20px;
    margin-top: 15px;
    width:100px;
    height:40px;
    border:1px white solid;
    text-decoration: none;
}
.eventlist p{
    display:inline;
}
.badge{
    margin-left: 20px;
    margin-top: -5px;
}
.new{
    background-color: gold;
}
.over{
    background-color: red; 
}
.time span{
    color:blue;
    font-size: 15px;
}



/*===== footer部分 ====*/
.footer{
    margin-top: 150px;
    width:100%;
    height:100px;
    background-color: #121212;
    text-align: center;
    padding-top: 10px;
}
.footer p{
    color:#aaa;
}
.copyright{
    color:#aaa;
    font-size: 10px;
}