body{
	background-image: url(../img/index/hit.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #FFFBF0;
}
.locate{
	font-size: 16px;
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
	width:350px;
	border-bottom: 2px #aaa solid;
}
#personal{
	position: relative;
}
.personal_left{
	position: absolute;
	width: 100px;
	margin-top: 150px;
	margin-left: 150px;
}
.list-group-item a{
	color:#121212;
	font-size: 16px;
}
.personal_right{
	position: absolute;
	width:800px;
	margin-left: 300px;
	margin-top: 150px;
	min-height: 500px;
}
.tab-pane{
	border:1px #ccc solid;
	background-color: rgba(255,251,240,0.5);
	padding:50px;
}
.password1,.password2{
	margin-bottom: 20px;
	width:300px;
	margin:0 auto 20px;
}
#changePassword button{
	float:right;
}
.infor-item{
	width:600px;
	margin:0 auto 20px;
	padding:10px;
	color:#121212;
	transition:background-color 1.5s;
}
.infor-item:hover{
	background-color: rgba(143,201,63,0.2);
}
.infor_person{
	color:red;
}
.infor_time{
	color:blue;
}
.response{
	background-color: gold;
	border:gold;
	margin-left: 520px;
	margin-top: -10px;
}
.response:hover{
	background-color: orange;
}
#response{
	margin-top: 10%;
}
.modal-header{
	height:50px;
}
.modal-body textarea{
	resize:none;
	height:100px;
}
.join-item{
	width:600px;
	margin:0 auto 20px;
	padding:10px;
	color:#121212;
	background-color: rgba(143,201,63,0.2);
}
